.footer {
    background-color: #7A3145;
    padding: 40px 20px;
}


.footer-nav{
    padding-top: 40px;
    }

.footer-logo-link{
    margin-bottom: 40px;
}

.footer-logo-icon {
    fill: #fbfbfb;
}

.footer-logo-text {
    fill: #fbfbfb;
}


.footer-text{
    font-size: 16px;
    line-height: 1.25;
    color: #fbfbfb;
    padding-top: 14px;
    padding-bottom: 40px;
}
.footer-nav-list{
   margin-bottom: 40px;
}
.footer-nav-item{
   margin-bottom: 14px;
}


.footer-nav-link {
    display: block;
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    margin-bottom: 14px;
}

 .footer-address {
     margin-bottom: 80px;
     display: flex;
     justify-content: flex-start;
 }
.footer-nav-item {
     margin-bottom: 25px;
 }

 .footer-address-item {
     margin-bottom: 25px;
 }

.footer-address-list{

}
.footer-address-item{
    margin-bottom: 25px;
}

.address-link-tel {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    ;
    margin-bottom: 14px;
}

.address-link-tel:hover,
.address-link-tel:focus {
    color: burlywood;
}


.address-link{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.01em;
    color: #fbfbfb;
}
.footer-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-block-list{
    display: flex;
    align-items: flex-end;
    gap: 8px;
}
a,
span,
p{
font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
}
.block-text{
    line-height: 1.16667;
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
        padding-left: 32px;
        padding-right: 32px;
    }

    .footer-nav {
            display: flex;
            justify-content: space-between;
        }
    .footer-logo-icon {
        width: 18px;
        height: 18px;
    }
        
    .footer-logo-text {
        
        width: 168px;
        height: 15px;
    }
    .footer-text {
        width: 256px;
        padding-top: 25px;
   }            
    .nav-container{

    }
    .footer-nav-list {
      display: block;
      margin-right: 20px;
    }
        
    .footer-nav-link {
       font-size: 32px;
    }

    .footer-address{
      display: flex;
      justify-content: flex-end;
    }

    .address-link-tel{
        font-size: 18px;
    }
    .address-link{
      font-size: 18px;
    }
    .footer-address-list {

    }
    .footer-block{
       width: 704px;
       height: 20px;
    }
    a,
    span,
    p{
        font-size: 18px;
    }

    .block-text{
      font-size: 18px;
    }
    .block-item-text{
         display: block;
        margin-left: 250px;
    }
                                 
    }
    
@media screen and (min-width: 1158px){
    .container{
       max-width: 1158px;
    }
   .footer{
      padding: 50px 100px;
       
   }
  .footer-flex{
    display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .nav-container{

    }
    .footer-nav-list{

    }
  .footer-address{

    }
  .footer-address-list {
    
 }
 .block-item-text{
    
 }
 
}




















